
@{
    ViewBag.Title = "Buttons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

//Struktura stranice
<h2>Buttons</h2>
<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h4>
                Element B - obojeni gumbi
            </h4>
            <br /><br />
            <div class="example-box-wrapper">
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-default">Default</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-info">Info</button>
            </div>
            <br /><br />
        </div>
    </div>
    <!--end panel -->
</div>
<!--end col -->


//Kreiranje 

<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h4>
                Element B - oznake različite veličine
            </h4>
            <br /><br />
            <div class="example-box-wrapper">
                <div class="example-box-wrapper">
                    <h1>Primjer za heading H1 <span class="badge badge-secondary">Novo</span></h1>
                    <h2>Primjer za heading H2 <span class="badge badge-secondary">Novo</span></h2>
                    <h3>Primjer za heading H3 <span class="badge badge-secondary">Novo</span></h3>
                    <h4>Primjer za heading H4 <span class="badge badge-secondary">Novo</span></h4>
                    <h5>Primjer za heading H5 <span class="badge badge-secondary">Novo</span></h5>
                    <h6>Primjer za heading H6 <span class="badge badge-warning">Novo</span></h6>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
    <!--end panel -->
</div>
<!--end col -->

//Tablica sa redovima

<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h4>
                Element B - tablica s istaknutom redovima
            </h4>
            <br /><br />
            <div class="example-box-wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Row 1</th>
                            <th>Row 2</th>
                            <th>Row 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>Row 1</td>
                            <td>Row 2</td>
                            <td>Row 3</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>Row 1</td>
                            <td>Row 2</td>
                            <td>Row 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
