@{
    ViewBag.Title = "O nama";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    Dobrodošli u naš second hand shop, mjesto gdje prošlost pronalazi novi dom i gdje svaki komad odjeće ima svoju jedinstvenu priču!
    <br />
    Zašto smo otvorili second hand shop?
    <br />
    Strast prema modi i želja za očuvanjem okoliša potaknuli su nas da otvorimo naš second hand shop. U današnjem svijetu, brza moda često dovodi do prekomjerne proizvodnje i otpada, što negativno utječe na naš planet. Mi vjerujemo da moda može biti održiva i da svaka odjevna stvar zaslužuje drugu šansu.
    <br />
    Naša misija
    <br />
    Naša misija je pružiti visokokvalitetnu, pažljivo odabranu second hand odjeću po pristupačnim cijenama, omogućujući našim kupcima da izraze svoj jedinstveni stil na odgovoran način. Želimo promijeniti percepciju second hand odjeće, pokazujući da rabljeni komadi mogu biti jednako moderni, elegantni i vrijedni kao i novi.
    <br />
    Što nas izdvaja
    <br />
    Pažljiv odabir: Svaki komad odjeće u našem shopu pažljivo je odabran i pregledan kako bismo osigurali kvalitetu i trendovskost.
    Održivost: Kupovinom kod nas pomažete smanjiti tekstilni otpad i podržavate ekološki osviještenu modu.
    Povoljne cijene: Vjerujemo da kvalitetna moda treba biti dostupna svima, stoga nastojimo ponuditi povoljne cijene bez kompromisa na kvaliteti.
    Jedinstvenost: Svaki komad u našem shopu je jedinstven, što vam omogućava da stvorite autentičan i originalan stil.
    Naš tim
    <br />


    Posjetite nas
    <br />


    <h3>@ViewBag.Message</h3>

</main>